!-- blog/templates/blog/article_create.html -->

{% extends 'base.html' %}

{%block content%}
<!-- <form method = 'POST'> {% csrf_token %}
	{{ form.as_p}}
	<input type="submit" value="Save"/> -->
<!-- </form> -->

<form action='' method='POST'> {% csrf_token %}
	<!-- <input type="text" name="title" placeholder="Your title"/> -->
	<h1> Do you want to delete the post "{{ object.title }}"?</h1>
	<p><input type="submit", value="Yes"/> <a href="=../">Cancel</a></p>
</form>
{%endblock%}

